@import 'bootstrap';
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,600);

html body .container-fluid {
   font-family: Raleway;
   font-size: 16px;
   h5 {
      color: grey
   }
}

.heading {
   font-family: Raleway;
   h2 {
      font-weight: 600;
      font-size: 38px;
      color: #fff;
   }
   p {
      color: #fff;
      font-size: 25px;
      font-weight: 300;

   }
}
.caption {
   h5 {
      font-family: Raleway;
      font-size: 16px;
      color: grey;
   }
   p, li {
      font-size: 12px;
      padding: 5px;
   }
}

label {
   color: #777;
}

.navbar-default {
   background-color: #fff;
}

.container-fluid {
   padding-left: 0px;
   padding-right: 0px;
}

body {
background: url(https://s3.amazonaws.com/chirp-tiy-production/lake-landscape-mountains-2855.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.list-group {
   li {
      h5 {
         font-family: Raleway;
         font-size: 16px;
         color: grey;
         }
      }
   .small {
      font-size: 10px;
      color: #777;
   }
}
